* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}

#Wrapper {
  background-color: lightblue;
}
/* Header */
#header {
  text-align: center;
  width: 100%;
  height: 250px;
  min-height: 250px;
}

#picture-header {
  height: 100%;
  width: 100%;
}

/* Navigation */
#Parents-Navbar {
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
}
#Navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
.button {
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  background-color: rgb(20, 180, 220);
  color: white;
  padding: 21px 212px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#Parents-Content {
  width: 100%;
  margin-top: 60px;
  height: 50vh;
}
#Text {
  height: 35vh;
  float: right;
  text-align: justify;
  background-color: rgb(20, 180, 220);
  width: 68%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  box-shadow: 0px 7px 10px 0px;
  border-radius: 20px;
  margin-right: 1%;
}
.link-paragraf {
  float: right;
  margin-right: 50px;
}
#Picture {
  float: left;
  width: 28%;

  align-items: center;
  justify-content: center;
  margin-left: 1%;
}
#picture-content {
  width: 100%;
  height: 60%;
  border-radius: 30px;
  box-shadow: 0px 7px 10px 0px;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}

/* FOOTER */
#parentfooter {
  text-align: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 105px;
  background-color: lightblue;
}

.makasih {
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(20, 180, 220);
  width: 33vw;
  height: 100%;
}
